nav {
	/* display: flex; */
	justify-content: center;
	align-items: center;
	min-height: 10vh;
	background: grey;
	color: white;
}
.navLinkStyles {
	justify-content: center;
	align-items: center;
	color: maroon;
	list-style: none;
}
.navbar-nav {
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
