.billHeader {
	margin-left: 20%;
}
/* .logoStyles {
	height: 80px;
	width: 80px;
}  */
.billHeader img {
	float: left;
	width: 130px;
	height: 130px;
	/* background: #555; */
	margin-top: 20px;
}
.headings {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
}
.headings h1 {
	color: #59abbf;
}
.headings h2 {
	color: #59abbf;
	margin-top: -10px;
}
.headings h3 {
	color: #59abbf;
	margin-top: -10px;
}
.phoneNoStyles {
	display: flex;
	flex-direction: column;
	/* position: absolute; */
	justify-content: flex-end;
	align-items: flex-end;
	margin-top: -38px;
	margin-right: 100px;
	margin-left: 100px;
}
.borderLine {
	display: flex;
	flex-direction: row;
	border: 1px solid #59abbf;
	width: 1500px;
	height: 5px;
	background-color: #59abbf;
}
