.welcomePageContainer {
	margin-left: 25%;
	background-color: #e9fffd;
}
.softwareLogoStyles {
	width: 150px;
	height: 130px;
	border-radius: 20px;
}
.welcomeHeadingContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #3a919e;
}
.plsHeading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #3a919e;
}
.companyStyle {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #3a919e;
}
.companyLogoStyles {
	width: 150px;
	height: 130px;
	border-radius: 20px;
}
