.mainBillInfoHeaderStyles {
	background-color: #e9fffd;
	margin-left: 20%;
}
.billInfoHeaderContainer {
	margin-left: 30px;
}
.nameStyles {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 10px;
}
.nameTextStyle {
	margin-right: 20px;
	margin-top: -5px;
}
.nameInputField {
	block-size: 1.5rem;
	width: 300px;
	border-color: #5fb3c8;
}

.addressInvDateContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.addressStyles {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 10px;
}
.addressTextStyle {
	margin-right: 20px;
	margin-top: -5px;
}
.addressInputField {
	block-size: 1.5rem;
	width: 300px;
	border-color: #5fb3c8;
}

.invDateStyles {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 10px;
}
.invDateTextStyle {
	margin-right: 20px;
	margin-top: -5px;
}
.invDateInputField {
	block-size: 1.5rem;
	width: 100px;
	border-color: #5fb3c8;
}

.tPinNoInvNoContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.tPinNoStyles {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 10px;
}
.tPinNoTextStyle {
	margin-right: 20px;
	margin-top: -5px;
}
.tPinNoInputField {
	block-size: 1.5rem;
	width: 100px;
	border-color: #5fb3c8;
}

.invNoStyles {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 10px;
}
.invNoTextStyle {
	margin-right: 20px;
	margin-top: -5px;
}
.invNoInputField {
	block-size: 1.5rem;
	width: 100px;
	border-color: #5fb3c8;
}

.paymentModeStyle {
	display: flex;
	flex-direction: row;
}

.paymentModeTextStyle {
	margin-right: 20px;
	margin-top: 10px;
}
.dropdownStyle {
	position: relative;
	display: inline-block;
}
.dropbtn {
	background-color: #4caf50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}
.dropdownStyle:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
