.loginMainFormContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}
.circleStyle {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: absolute;
	border: 7px solid #59abbf;
	border-radius: 50rem;
	height: 100px;
	background-color: #ffffff;
	margin-top: -150px;
	padding-left: 25px;
}
.softwareName {
	justify-content: center;
	align-items: center;
	margin-right: 25px;
	color: #59abbf;
	font-style: italic;
}
.loginFormContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 180px;
	background-color: #1796b7;
	block-size: 30rem;
	width: 20rem;
	border-radius: 1rem;
}
.loginHeader {
	display: flex;
	justify-content: center;
	color: #ffff;
}
.form-group {
	margin-top: 20px;
}
.form-control {
	border-radius: 1rem;
	block-size: 3rem;
	outline: 0px;
	text-align: center;
	width: 15rem;
}
.form-check {
	margin-top: 20px;
	justify-content: center;
	align-items: center;
	margin-left: 1rem;
}
.form-check-input {
	block-size: 1rem;
}
.form-check-label {
	color: #ffff;
	text-size-adjust: 3rem;
}
.btn-primary-signin {
	display: flex;
	width: 10rem;
	block-size: 3rem;
	border-radius: 1rem;
	margin-top: 20px;
	margin-left: 3rem;
	justify-content: center;
	align-items: center;
	outline: 0px;
}
