.payContainerStyles {
	background-color: #e9fffd;
	margin-left: 20%;
}
.payHeading {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.payTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #75c8d1;
	color: #ffffff;
	width: 300px;
	font-weight: 300;
}
.dateContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.dividerLine {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	height: 3px;
	background-color: #3a919e;
	margin-top: 40px;
}
.payBodyContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 50px;
	color: #3a919e;
}
/* .payBody {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: stretch;
      color: #3a919e;
  } */
.payFromStyle {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 15px;
	margin-top: 10px;
}
.payFromTextStyle {
	margin-right: 20px;
	margin-top: -5px;
}
.payFromInputField {
	block-size: 1.5rem;
	width: 300px;
	border-color: #5fb3c8;
}
.payByStyle {
	display: flex;
	flex-direction: row;
}
.payByTextStyle {
	margin-right: 20px;
	margin-top: 0px;
}
.dropdownStyle {
	position: relative;
	display: inline-block;
}
.dropbtn {
	background-color: #4caf50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}
.dropdownStyle:hover .dropdown-content {
	display: block;
}
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}
.payAmountStyle {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	margin-top: 20px;
}
.payAmountTextStyle {
	margin-right: 20px;
	margin-top: -10px;
}
.payAmountInputField {
	block-size: 1.5rem;
	width: 200px;
	border-color: #5fb3c8;
}
.payAmountWordStyle {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}
.payAmountWordTextStyle {
	margin-right: 20px;
	margin-top: -10px;
}
.payAmtWordInputField {
	block-size: 1.5rem;
	width: 400px;
	border-color: #5fb3c8;
}
.payRemarksStyle {
	display: flex;
	flex-direction: row;
}
.payRemarkTextStyle {
	margin-right: 20px;
	margin-top: -10px;
}
.payRemarksInputField {
	block-size: 1.5rem;
	width: 460px;
	border-color: #5fb3c8;
}
.payFooter {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.cancelButtonStyle {
	margin-right: 10px;
	justify-content: center;
	align-self: center;
	background-color: #e6253a;
	width: 120px;
	block-size: 2rem;
	border-radius: 10px;
	color: #ffffff;
}
.saveButtonStyle {
	margin-right: 10px;
	background-color: #6af72d;
	width: 120px;
	block-size: 2rem;
	border-radius: 10px;
	color: #ffffff;
}
.printButtonStyle {
	background-color: #646a5e;
	width: 120px;
	block-size: 2rem;
	border-radius: 10px;
	color: #ffffff;
}
